.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Navbar {
  font-weight: bold;
  color: azure;
  background-color: rgb(11, 173, 160);
  text-align: center;
  margin: 0%;
}
.item {
  color: black;
  /* background-color: wheat; */
}
.menu {
  background-color: wheat;
  padding: 10px;
  margin: 5px;
}
.img {
  background-image: url("https://www.kindpng.com/picc/m/107-1074363_banner-img1-restaurant-bangla-food-png-transparent-png.png");
  width: 600px;
  height: 600px;
}
.navbar {
  background-color: PaleTurquoise;
  padding: 0px;
}
